{% extends "base.html" %}
{% load static %}

{% block extrastyle %}
<script src="https://cdn.plot.ly/plotly-3.0.0.min.js" charset="utf-8"></script>
{% endblock extrastyle %}


{% block content %}

<p class="'p-3"> <strong>Dashboard</strong></p>
<span class="d-block">
  
{% autoescape off %}
{{fig1|safe}}              
{% endautoescape %}
</span>

<span class="d-block">
  
  {% autoescape off %}
  {{fig2|safe}}              
  {% endautoescape %}
</span>
          

{% endblock %}


{% block extrajs %}
<!-- <script type="text/javascript" src="{% static 'js/plotly-v1.58.5.js' %}"></script> -->

{% endblock %}
