{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <nav aria-label="breadcrumb">
    <ul class="breadcrumb">
    <li class="breadcrumb-item "><a href="{% url 'note_list' %}">Notes</a></li>
    <li class="breadcrumb-item active">Detail</li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-sm-3 m-auto">
        <strong>File number:</strong> {{ note.file_number }}  </br>
       <strong>Concerned Department:</strong> {{ note.concerned_department }}  </br>
       <strong>Date:</strong> {{ note.date }}  </br>
       <strong>Subject:</strong> {{ note.subject|default_if_none:"" }}  </br>
       <strong>Ref. No.:</strong> {{ note.ref_no|default_if_none:"" }}  </br>
      </br>
    </div>
    <div class="col-sm-9 m-auto">
       <strong>Detail:</strong> </br>{{ note.comment }}  </br>
    </div>
  </div>
</div>


{% endblock %}