{% extends 'base.html' %}
{% load static %}

{% block extrastyle %}
<link href="{% static 'ajax_datatable/css/style.css' %}" rel="stylesheet" />
<link href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css" rel="stylesheet"  crossorigin="anonymous">
{% endblock extrastyle %}


{% block content %}
<div class="table-responsive ">
    <table id="datatable" width="100%" class="table table-striped">
    </table>
</div>
{% endblock content %}


{% block extrajs %}
    <!-- django-ajax-datatables -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script type="text/javascript" src="{% static 'ajax_datatable/js/utils.js' %}"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.js"></script>

    <script language="javascript">
        $( document ).ready(function() {
            AjaxDatatableViewUtils.initialize_table(
                $('#datatable'),
                "{% url 'ajax_datatable_notes' %}",
                {
                    processing: false,
                    autoWidth: false,
                    // full_row_select: true,
                    scrollX: false,
                    responsive: true,
                }, {
                    // extra_data
                    // ...
                    // columnDefs: [ {
                    //     targets: 1,
                    //     render: DataTable.render.ellipsis( 17, true )
                    //     } ]
                },
            );
        });
    
    </script>

{% endblock extrajs %}