{% extends "base.html" %}

{% block content %}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
   <div class="card p-4 d-flex flex-column justify-content-center align-items-center"> 
    {% if user.image %}
        <img class="rounded mx-auto d-block" alt="img" src="{{ user.image.url }}" height="200" />
    {% else %}
        <img class="rounded-circle"  height="200" /> <i class="fa-solid fa-user fa-2xl"></i>
    {% endif %}
        <span class="name mt-3">{{ user.first_name }} {{user.last_name}}</span> 
        <span class="idd">{{user.designation}}</span> 
    </div> 
</div>

    <!-- <h2>Update Profile</h2>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        <button type="submit" class="btn">Save</button>
    </form> -->
{% endblock %}