<!-- Navbar -->
<div class="navbar-fixed">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav class="light-blue lighten-6" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="{% url 'landing_page' %}" class="brand-logo">KMS</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'note_list' %}">Notes</a></li>
                <!-- <li><a href="badges.html">Components</a></li> -->
                <!-- Dropdown Trigger -->
                <!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li> -->
                {% if user.is_authenticated %}
                <li><a href="{% url 'custom_logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <!-- <li><a href="{% url 'account_signup' %}">Signup</a></li> -->
            {% endif %}
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li><a href="{% url 'note_list' %}">Notes</a></li>
                <!-- <li><a href="badges.html">Components</a></li> -->
                <!-- Dropdown Trigger -->
                <!-- <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li> -->
                {% if user.is_authenticated %}
                <li><a href="{% url 'custom_logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                <!-- <li><a href="{% url 'account_signup' %}">Signup</a></li> -->
            {% endif %}
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</div>